body {
  background-color: rgb(236, 245, 245);
  font-family: "Lucida Sans";
}
.main-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 90%;
}
.stat-box {
  background-color: rgb(236, 245, 245);
  display: flex;
  width: 15%;
  flex-direction: column;
  align-items: center;
  padding: 15px 35px;
  border-radius: 15px;
}
.stat-label {
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}
.stat-value {
  letter-spacing: 0.7px;
  font-size: 25px;
  font-weight: bold;
}
.seesaw-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: rgb(236, 245, 245);
  height: 500px;
  width: 90%;
  border-radius: 15px;
}
.seesaw-parts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.plank {
  width: 400px;
  height: 20px;
  background-color: brown;
  z-index: 10;
  position: relative;
}
.pivot {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #555;
  z-index: 5;
  margin-top: -15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
}
button {
  margin: 20px 0;
  text-decoration: none;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(81, 111, 145);
  cursor: pointer;
}
.logs {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(236, 245, 245);
  width: 90%;
  height: 200px;
  margin-bottom: 30px;
  border-radius: 15px;
  overflow-y: auto;
}
@media (max-width: 1400px) {
  .main-container {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .main-container {
    width: 100%;
  }
  .stats-container {
    width: 90%;
    display: block;
  }
  .seesaw-container {
    width: 90%;
  }
  .stat-box {
    width: 90%;
    margin-bottom: 10px;
  }
  .stat-label {
    font-size: 30px;
  }
  .stat-value {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .main-container {
    width: 100%;
  }
  .stats-container {
    width: 99%;
    display: block;
  }
  .seesaw-container {
    width: 99%;
  }
  .stat-box {
    width: 80%;
    margin-bottom: 5px;
  }
  .stat-label {
    font-size: 20px;
  }
  .stat-value {
    font-size: 20px;
  }
}
